html {
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  background-color: rgb(245, 237, 240);
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
a,
button {
  font-family: "EB Garamond", serif;
  color: rgb(35, 44, 51);
}

p {
  font-family: "Josefin Sans", sans-serif;
}

header,
footer {
  background: linear-gradient(
    90deg,
    rgba(14, 164, 241, 0.8) 20.14%,
    rgba(41, 164, 226, 0.313472) 51.53%,
    rgba(190, 3, 255, 0.131561) 67.23%,
    rgba(214, 0, 255, 0.0510915) 86.82%,
    rgba(216, 32, 232, 0) 99.26%
  );
}

header {
  display: flex;
  align-items: center;
  position: relative;
  height: 600px;
}

header div {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 15px;
}

nav {
  position: absolute;
  bottom: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

header a {
  color: rgb(245, 237, 240);
  background-color: rgb(42, 68, 148);
  border-radius: 90px;
  padding: 10px 20px;
  white-space: nowrap;
}

main a {
  margin: auto;
  color: rgb(245, 237, 240);
  background-color: #2a4494;
  border-radius: 90px;
  padding: 5px 10px;
}

h2 {
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.card {
  background-color: rgb(245, 237, 240);
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  width: 30%;
  margin: 20px 0;
  padding: 20px;
}

.card img {
  max-width: 100%;
  height: 150px;
}

a:hover {
  text-decoration: underline;
}

footer {
  padding: 10px;
}

footer p,
footer a {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  header div {
    order: 1;
  }
  header img {
    order: 2;
    margin-bottom: 20%;
  }
  header a,
  main a {
    padding: 5px 10px;
    font-size: 0.8rem;
  }
  .card {
    width: 90%;
  }
}

@media screen and (max-width: 369px) {
  header a,
  main a {
    padding: 4px 8px;
    font-size: 0.6rem;
  }
}
